body
{
	max-height: auto;
	max-width: auto;
	background-color: #fbfcfd;
}

#content
{
	font-family: 'Open Sans', Helvetica, Sans-Serif;
	font-size: 1.5em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

header, footer
{
	font-family: 'PT Serif', Arial, Sans-Serif;
	text-align: center;
}

header
{
	font-size: 8vmax;
	z-index: 1;
	margin-bottom: 2vh;
}

a
{
	text-decoration: none;
	color: #0eb0ff;
}

a:hover
{
	color: #ff0000;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

a.header_link
{
	text-decoration: none;
}

a.user_link
{
	padding-left: 0.2em;
	padding-right: 0.2em;
}

footer
{
	font-size: 1em;
}

input
{
	font-family: 'PT Serif', Arial, Sans-Serif;
	font-size: 0.8em;
}

ul
{
	list-style: none;
}

#user_panel
{
	font-family: 'Open Sans', Arial, Sans-Serif;
	font-size: 1.3em;
	text-align: center;
	margin-left: auto;
	margin-right: auto; 
}

#message_div
{
	text-align: center;
	font-size: 1.5em;
	font-family: 'Open Sans', Arial, Sans-Serif;
}

ul.flashed_messages
{
	list-style: none;
	text-align: center;
	background-color: #B6FCD5;
	border-style: solid;
}

li.flashed_message
{
	font-family: 'Open Sans', Arial, Sans-Serif;
	font-size: 2vmax;
}

/* links */

ul.links_list
{
	text-align: center;
	font-size: 1.3em;
	font-family: 'Open Sans', Arial, Sans-Serif;
	margin-left: auto;
	position: relative;
	margin-right: auto;
}

ul.links_list li
{
	display: inline;
	list-style-type: none;
	padding-right: 0.5vmax;
}

/* index */

#index_message
{
	margin-left: auto;
	margin-right: auto;
}

/* login */

#login_form, #error_message
{
	text-align: center;
}

#error_message
{
	color: red;
}

/* pages */

#new_page_content
{
	min-width: 15em;
	min-height: 10em;
	font-family: 'Open Sans', Helvetica, Sans-Serif;
	font-size: 1em;
}

article.pybot_page
{
	font-family: 'Open Sans', Helvetica, Sans-Serif;
	max-width: 30vmax;
	font-size: 1.5vmax;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

ul.category_list, ul.subpage_list
{
	text-align: center;
}

li.category_item, li.page_item
{
	text-align: left;
	margin-left: 45vmax;
	margin-right: 45vmax;
	width: 50vmax;
}

li.category_item
{
	font-weight: bold;
	font-size: 1.5vmax;
}

li.page_item
{
	font-weight: lighter;
	font-size: 1.2vmax;
	width: 5vw;
	display: block;
}

/* admin */ 

#new_header_text
{
	width: 30vw;
	text-align: center;
}


/* play area */

#code_area
{
	text-align: center;
}

div.CodeMirror
{
	border-style: solid;
	height: auto;
	width: auto;
	min-width: 10em;
	max-width: 35em;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-size: 1em;
	font-family: 'Source Code Pro', Monaco, monospace;
}

#output_area
{
	text-align: center;
	font-family: 'Source Code Pro', Monaco, monospace;
}