body
{
	max-height: auto;
	max-width: auto;
	background-color: #fffdfc;
}

#content
{
	font-family: 'Signika', Helvetica, Sans-Serif;
	font-size: 1.5em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

header, footer
{
	font-family: 'Signika', Arial, Sans-Serif;
	text-align: center;
}

header
{
	font-size: 5em;
	z-index: 1;
}

a
{
	text-decoration: none;
	color: #0eb0ff;
}

a:hover
{
	color: #ff0000;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

a.header_link
{
	text-decoration: none;
}

a.user_link
{
	padding-left: 0.2em;
	padding-right: 0.2em;
}

footer
{
	font-size: 1em;
}

input
{
	font-family: 'Signika', Arial, Sans-Serif;
	font-size: 0.8em;
}

#user_panel
{
	font-family: 'Signika', Arial, Sans-Serif;
	font-size: 1.3em;
	margin-top: -1em;
	text-align: center;
	margin-left: auto;
	margin-right: auto; 
}

#message_div
{
	text-align: center;
	font-size: 1.5em;
	font-family: 'Signika', arial, Sans-Serif;
}

/* links */

ul.links_list
{
	text-align: center;
	font-size: 1.3em;
	font-family: 'Signika', Arial, Sans-Serif;
	margin-left: auto;
	position: relative;
	margin-right: auto;
	padding-left: 0;
}

ul.links_list li
{
	display: inline;
	list-style-type: none;
}

/* index */

#index_message
{
	margin-left: auto;
	margin-right: auto;
}

/* login */

#login_form, #error_message
{
	text-align: center;
}

#error_message
{
	color: red;
}

/* pages */

#new_page_content
{
	min-width: 15em;
	min-height: 10em;
	font-family: 'Signika', Arial, Sans-Serif;
	font-size: 1em;
}

/* admin */ 


/* play area */

#code_area
{
	text-align: center;
}

div.CodeMirror
{
	border-style: solid;
	height: auto;
	width: auto;
	min-width: 10em;
	max-width: 35em;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font-size: 1em;
	font-family: 'Source Code Pro', Monaco, monospace;
}

#output_area
{
	text-align: center;
	font-family: 'Source Code Pro', Monaco, monospace;
}