<!DOCTYPE HTML>

<html>

<head>
	<meta charset="UTF-8">
	<meta name="description" content="UChicago PyBot project website">
	<meta name="keywords" content="pybot,programming,python,arduino,robotics,teaching,schools,children,middle school,college,uchicago,chicago">
	<meta name="author" content="Anton Melnikov (University of Chicago)">
</head>

<body>
	<header>PyBot</header>

	<div id="content">
	{% block content %}{% endblock %}
	</div>

	<footer>PyBot</footer>
</body>

</html>