{% extends 'layout.html' %}
{# {# from 'forms.html' import input #} #}

{% macro make_form(name, caption, endpoint, form) -%}
<a class="admin_panel_link" data-form="{{ name }}">{{ caption }}</a>
<div id="{{ name }}" class="admin_panel">
<form id="{{ '{}_form'.format(name) }}" action="{{ url_for(endpoint) }}" method="POST">
{% for field in form %}
{{ field.label }}: {{ field() }}
<br>
{% endfor %}
<input type="submit" form="{{ '{}_form'.format(name) }}" value="submit">
</form>
</div>
{%- endmacro %}


{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='scripts/admin.js') }}"></script>
{% endblock %}

{% block header %}PyBot Administration{% endblock %}

{% block content %}

<div id="admin_content">
{% for form in forms %}
{{ make_form(form.name, form.caption, form.endpoint, form.form) }}
<br>
{% endfor %}

</div>

{% endblock %}