{% extends 'layout.jinja2' %}

{% block header %}
	<p>PyBot</p>
{% endblock %}

{% block content %}
	{{ content }}
{% endblock %}

{% block footer %}
	<p>All of the rights have been reserved by PyBot</p>
{% endblock %}