<!DOCTYPE HTML>

<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="UChicago PyBot project website">
	<meta name="keywords" content="pybot,programming,python,arduino,robotics,teaching,schools,children,middle school,college,uchicago,chicago">
	<meta name="author" content="Anton Melnikov (University of Chicago)">

	<title>{{ config['SITE_TITLE'] }}</title>

	<link href="{{ url_for('static', filename='style.css') }}" rel='stylesheet' type='text/css'>

	{% block fonts %}
	<link href='http://fonts.googleapis.com/css?family=Signika&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	{% endblock %}

	<script type="text/javascript">
		$SITE_ROOT = {{ request.script_root | tojson }};
		$HOME = {{ url_for('home') | tojson }};
		{% if config['DEBUG'] %}
		$DEBUG = true;
		{% else %}
		$DEBUG = false;
		{% endif %}
		pybot_helpers = window.helpers;
	</script>

	{% block scripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='scripts/helpers.js') }}"></script>
	{% endblock %}
</head>

<body>
	<div id="wrapper">
		<header><a class="header_link" href="{{ url_for('home') }}">{% block header %}{{ header_message | safe }}{% endblock %}</a></header>

		{% if current_user.is_authenticated() %}
			<div id="user_panel">
			{{ 'Hello, {}'.format(current_user.first_name) }}
			<a class="user_link" href={{ url_for('admin') | tojson }}>admin</a>
			<a class="user_link" href={{ url_for('add_new_page') }} | tojson }}>add new page</a>
			<a class="user_link" href={{ url_for('logout') | tojson }}>log out</a>
			</div>
		{% endif %}

		{% block flashed_messages %}
		{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul class="flashed_messages">
			{% for message in messages %}
				<li class="flashed_message">{{ message }}</li>
			{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}
		{% endblock %}

		<div id="links">
		{% block links %}
			<ul class="links_list">
			{% for link in links %}
			<li><a href="{{ link['url'] }}">{{ link['text'] }}</a></li>
			{% endfor %}
			</ul>
			{% endblock %}
		</div>


		<div id="content">
		{% block content %}{% endblock %}
		</div>

		<footer>{% block footer %}{{ footer_message | safe }}{% endblock %}</footer>
	</div>
</body>

</html>