<!DOCTYPE HTML>

<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="description" content="UChicago PyBot project website">
	<meta name="keywords" content="pybot,programming,python,arduino,robotics,teaching,schools,children,middle school,college,uchicago,chicago">
	<meta name="author" content="Anton Melnikov (University of Chicago)">

	{% block fonts %}
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	{% endblock %}
</head>

<body>
	<header>{% block header %}{% endblock %}</header>

	<div id="content">
	{% block content %}{% endblock %}
	</div>

	<footer>{% block footer %}{% endblock %}</footer>
</body>

</html>