{% extends 'layout.html' %}

{% block fonts %}
	{{ super() }}
	<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:500&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
{% endblock %}

{% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='brython/brython.js') }}"></script>

{% if not config.get('STRAIGHTCOFFEE') %}
	<script src="{{ url_for('static', filename='scripts/play.js') }}"></script>
{% else %}
	{# code to run coffeescript without compiling it #}
{% endif %}

{% endblock %}

{% block content %}
	<div id="code_area">
		<textarea id="code_text" data-used='no'>Enter your code here...</textarea>
		<br>
		<a id="run_button" href="#">Run!</a>
	</div>
{% endblock %}